version: "3.9"

services:
  vue_app:
    build: .
    container_name: vue_app
    restart: unless-stopped
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: npm run dev -- --host